<div style="text-align:center">
  <div *ngIf="dataIsLoaded">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [legend]="chartOptions.legend"
      [title]="chartOptions.title"
      [colors]="chartOptions.colors"
      [stroke]="chartOptions.stroke"
      [plotOptions]="chartOptions.plotOptions"
    ></apx-chart>

    <apx-chart
      [series]="volumeCharOptions.series"
      [chart]="volumeCharOptions.chart"
      [xaxis]="volumeCharOptions.xaxis"
      [yaxis]="volumeCharOptions.yaxis"
      [legend]="volumeCharOptions.legend"
      [title]="volumeCharOptions.title"
      [dataLabels]="volumeCharOptions.dataLabels"
      [colors]="volumeCharOptions.colors"
      [stroke]="volumeCharOptions.stroke"
      [plotOptions]="volumeCharOptions.plotOptions"
    ></apx-chart>

  </div>
</div>